<div class="landImg">
  <h1 class="animated bounceInRight">// LIAM REARDON //</h1>
  <h3 class="animated bounceInRight">software engineer currently living
     in st. john's, newfoundland
  </h3>
  <img [src]="'assets/img/IMG_1873.jpg'" alt="image">
  <a class="scroll-btn" (click)="scrollToProjects(1000)">
    <i class="far fa-hand-point-down animated fadeInUp" id="pointer"></i>
  </a>
  <ul class="animated zoomIn">
    <li><a href="{{ linkedURL }}"><fa name="linkedin-square" aria-hidden="true" id="linkedIn"></fa></a></li>
    <li><a href="{{ gitURL }}"><fa name="github" aria-hidden="true" id="git"></fa></a></li>
    <li><a href="{{ twitterURL }}"><fa name="twitter" aria-hidden="true" id="twitter"></fa></a></li>
    <li><a href="{{ spotify }}"><fa name="spotify" aria-hidden="true" id="spotify"></fa></a></li>
    <li><a href="{{ email }}"><fa name="paper-plane" aria-hidden="true" id="email"></fa></a></li>
  </ul>
</div>
<div class="projects" id="projects" style="height: 800px;">
  <div class="container">
      <div class="row">
          <div class="col-sm">
              <h1>check out my projects</h1>
              <div class="bio-body" style="text-align:center">
                  <div class="projects-link" id="projects-link" routerLink="/projects" routerActive="active"> 
                      <i class="fas fa-code" id="projects-icon"></i>
                      <h3 id="txt">(click)</h3>
                  </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="bio-body" id="bio-text" style="text-align:center">
              <p>with any project i work on, i like to bring a combination of creativity and practical
                problem solving to the table, as i believe this is the foundation for any
                great product. 
              </p>
            </div>
          </div>
        </div>
  </div>
</div>
<div class="edu" id="edu" style="height: 800px;">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="bio-body" id="edu-text" style="text-align:center">
            <p>i have found the best way to learn is through real world experience and 
              failure. with that being said, i have learned many valuable lessons in the 
              classroom. check out some of the relevant courses i've taken!
            </p>
          </div>
      </div>
      <div class="col-sm">
        <h1>what i've been studying</h1>
        <div class="edu-body" style="text-align:center">
            <div class="edu-link" id="edu-link" routerLink="/education" routerActive="active"> 
                <i class="fas fa-book" id="projects-icon"></i>
                <h3 id="txt">(click)</h3>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>