<div class="landImg">
  <h1>Hey, I'm Liam!</h1>
  <h3>Software Engineer currently living
     in St. John's, Newfoundland</h3>
  <img [src]="'assets/img/IMG_1873.jpg'" alt="image">
  <a class="scroll-btn" (click)="scrollToProjects(1000)">
    <i class="far fa-hand-point-down" id="pointer"></i>
  </a>
</div>
<div class="projects" id="projects" style="height: 800px;">
  <div class="container">
      <h1>projects i've worked on</h1>
      <div class="bio-body" style="text-align:center">
        <a routerLink="/projects">
          <div class="projects-link" id="projects-link"> 
            <i class="fas fa-code" id="projects-icon"></i>
          </div>
        </a>
      </div>
  </div>
</div>
<div class="edu" id="edu" style="height: 800px;">
  <div class="container">
      <h1>what i've been studying</h1>
      <div class="edu-body" style="text-align:center">
        <a routerLink="/education">
          <div class="edu-link" id="edu-link"> 
            <i class="fas fa-code" id="projects-icon"></i>
          </div>
        </a>
      </div>
  </div>
</div>