ul {
  list-style: none;
  display: inline-block;
}

#item {
  margin-left: 13%;
}

.card-link {
  color: white;
  background: #1dcaff;
  padding: 10px;
  text-align: center;
}

a {
  font-size: 35px;
  display: block;
  width: 70px;
  transition: opacity .125s linear;
  &:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity .125s linear;
  }
}

.header {
  padding-top: 110px;
  padding-bottom: 110px;
  text-align: center;
  background: #151515;
}

img {
  height: 17.9rem;
  width: 17.9rem;
}

.card-body {
  height: 135px;
}

#list-body {
  height: 69px;
  font-size: 14.5px;
  font-weight: bolder;
}

.body {
  padding-top: 69px;
}

.projects-body {
  background: white;
}

h1 {
  color: white;
}










