<div class="container">
    <h1>PROJECTS</h1>
</div>
    
<div class="container">
    <ul *ngFor="let project of projects">
        <li>
            <mat-card class="project-card">
                    <a href="{{ project.link }}">
                        <img mat-card-image src="{{ project.img }}">
                        <mat-card-title>{{ project.title }}</mat-card-title>
                        <mat-card-subtitle>{{project.tools}}</mat-card-subtitle>
                        <mat-card-content>
                            <p>{{ project.description }}</p>
                        </mat-card-content>
                    </a>
            </mat-card>
        </li>
    </ul>

</div>

