ul {
  list-style: none;
  display: inline-block;
}

.card-link {
  color: white;
  background: #359bc5;
  padding: 10px;
  text-align: center;
}

a {
  font-size: 35px;
  display: block;
  width: 70px;
  transition: opacity .125s linear;
  &:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity .125s linear;
  }
}

.header {
  padding-top: 140px;
  text-align: center;
}

img {
  height: 17.9rem;
  width: 17.9rem;
}

.card-body {
  height: 120px;
}

#list-body {
  height: 70px;
}

.body {
  padding-top: 100px;
  padding-bottom: 100px;
}

.projects-body {
  // background: #f2f1ef;
}






