<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="projects-body">
    <div class="header">
        <h1>PROJECTS</h1>
        <div class="load-spin">
            <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
        </div>
    </div>
    <mat-grid-list cols="3" rowHeight="500px" class="nm-list animated bounceInDown">
        <mat-grid-tile *ngFor="let project of projects">
            <mat-grid-tile-header>
                {{ project.title }}
            </mat-grid-tile-header>
          <a href="{{ project.link }}">
            <img src="{{ project.img }}">
            <div class="description">
                {{ project.description }}
            </div>
          </a>
          <mat-grid-tile-footer>
            {{ project.tools }}
        </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="sm-projects-list container body animated bounceInDown">
        <div *ngFor="let project of projects" class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ project.img }}" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title"><strong>{{ project.title }}</strong></h5>
            <p class="card-text">{{ project.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item" id="list-body">{{ project.tools }}</li>
            </ul>
            <div class="card-body">
            <a href="{{ project.link }}" class="card-link">
                <fa name="github" aria-hidden="true" id="git"></fa>
            </a>
            </div>
        </div>
    </div>
</div>


