<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- <div class="first-container" id="navbar">
    <div class="nav-container" id="myTopnav" [ngStyle]="{'background-color': navColor }">
        <div class="nav-row">
            <div class="nav-logo">
            <a routerLink="/" [ngStyle]="{'color': navTextColor }">
                <img src="{{ logo }}" alt="">
            </a>
            </div>
            <div class="nav-controls">
            <a routerLink="/" routerActive="active" [ngStyle]="{'color': navTextColor }">01. Home</a>
            <a routerLink="/projects" routerActive="active" [ngStyle]="{'color': navTextColor }">02. Projects</a>
            <a routerLink="/education" routerActive="active" [ngStyle]="{'color': navTextColor }">03. Education</a>
            <a href="mailto:me@liamreardon.io" [ngStyle]="{'color': navTextColor }">04. Contact</a>
            <a class="icon" (click)="switchClasses()">
                <i class="fa fa-bars"></i>
            </a>
            </div>
        </div>
    </div>
</div> -->
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
        #drawer 
        class="sidenav"
        [ngClass]="{ hidden: !(isHandset$ | async) }"
        fixedInViewport="false"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
        <a mat-list-item (click)="drawer.toggle()" routerLink="/" routerActive="active">01. Home</a>
        <a mat-list-item (click)="drawer.toggle()" routerLink="/projects" routerActive="active">02. Projects</a>
        <a mat-list-item (click)="drawer.toggle()" routerLink="/education" routerActive="active">03. Education</a>
        <a mat-list-item (click)="drawer.toggle()" href="mailto:me@liamreardon.io" routerActive="active">04. Contact</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" id="navToolbar" [ngStyle]="{'color': navTextColor }">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>
                <a routerLink="/" [ngStyle]="{'color': navTextColor }">
                    <img src="{{ logo }}" alt="">
                </a>
            </span>
            <span class="spacer"></span>
            <a routerLink="/" routerActive="active" [ngStyle]="{'color': navTextColor }">01. Home</a>
            <a routerLink="/projects" routerActive="active" [ngStyle]="{'color': navTextColor }">02. Projects</a>
            <a routerLink="/education" routerActive="active" [ngStyle]="{'color': navTextColor }">03. Education</a>
            <a href="mailto:me@liamreardon.io" [ngStyle]="{'color': navTextColor }">04. Contact</a>
        </mat-toolbar>
        <div class="router">
            <router-outlet></router-outlet>
        </div>
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>








