<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
        #drawer 
        class="sidenav"
        [ngClass]="{ hidden: !(isHandset$ | async) }"
        fixedInViewport="false"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
        <mat-nav-list>
            <h3>MENU</h3>
            <a mat-list-item id="menu-item" (click)="drawer.toggle()" routerLink="/" routerActive="active">Home</a>
            <a mat-list-item id="menu-item" (click)="drawer.toggle()" routerLink="/projects" routerActive="active">Projects</a>
            <a mat-list-item id="menu-item" (click)="drawer.toggle()" routerLink="/education" routerActive="active">Education</a>
            <a mat-list-item id="menu-item" (click)="drawer.toggle()" href="mailto:me@liamreardon.io" routerActive="active">Contact</a>
            <h3>LINKS</h3>
            <a mat-list-item href="{{ linkedURL }}"><fa name="linkedin-square" aria-hidden="true" id="link"></fa></a>
            <a mat-list-item href="{{ gitURL }}"><fa name="github" aria-hidden="true" id="link"></fa></a>
            <a mat-list-item href="{{ twitterURL }}"><fa name="twitter" aria-hidden="true" id="link"></fa></a>
            <a mat-list-item href="{{ spotify }}"><fa name="spotify" aria-hidden="true" id="link"></fa></a>
            <a mat-list-item href="{{ email }}"><fa name="paper-plane" aria-hidden="true" id="link"></fa></a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="topnav" id="navToolbar" [ngStyle]="{'background-color': navColor }">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon [ngStyle]="{'color': navTextColor }" aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <a routerLink="/" [ngStyle]="{'color': navTextColor }">
                <img id="nav-logo" src="{{ logo }}" alt="" >
            </a>
            <span class="spacer-top"></span>
            <a routerLink="/" class="nav-link" routerActive="active" [ngStyle]="{'color': navTextColor }">Home</a>
            <a routerLink="/projects" class="nav-link" routerActive="active" [ngStyle]="{'color': navTextColor }">Projects</a>
            <a routerLink="/education" class="nav-link" routerActive="active" [ngStyle]="{'color': navTextColor }">Education</a>
            <span class="spacer"></span>
            <a href="mailto:me@liamreardon.io" class="nav-link" [ngStyle]="{'color': navTextColor }">Contact</a>
        </mat-toolbar>
        <div class="router">
            <router-outlet></router-outlet>
        </div>
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>








