h2, h3, p {
    text-align: center;
}
 
div {
  margin: auto;
}

mat-grid-tile {
  outline: solid 5px;
  transition: transform .2s;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;

    h3 {
      color: red;
    }
  }
}

.body {
  padding-top: 100px;
  padding-bottom: 100px;
}

.header {
  padding-top: 140px;
  text-align: center;
}

h3 {
  padding: 500px;
}
