h2, h3, p {
    text-align: center;
    color: black;
}

h1 {
  color: white;
}

div {
  margin: auto;
}

mat-grid-tile {
  outline: solid 5px;
  transition: transform .2s;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;

    h3 {
      color: white;
    }
  }
}

.body {
  padding-top: 69px;
  padding-bottom: 69px;

  h1 {
    padding-bottom: 15px;
    color: white;
    text-align: right;
  }
}

.header {
  padding-top: 110px;
  padding-bottom: 110px;
  background: #151515;
  text-align: center;
}

h3 {
  padding: 500px;
  color: black;
}

.education-body {
  background: #eeb208;
}

p {
  font-size: 20px;
}

.degree {
  padding-top: 50px;
  padding-bottom: 50px;
  background: white;

  h2, p {
    margin-top: 15px;
  }
}

img {
  position: relative;
  height: 91px;
  width: 120px;
  float: right;
  margin-top: -7%;
  margin-right: 21%;
}

.sm-list {
  display: none;
}


@media only screen and (max-width: 768px) { 

  .sm-list {
    display: block !important;
  }

  .nm-list {
    display: none;
  }

  h3 {
    font-size: 20px;
  }

  .courses-header {
    text-align: center !important;
  }

  img {
    display: none;
  }

  
}