@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: "Gravity-Bold";
    src: url('assets/fonts/Gravity-Bold.otf');
}

@font-face {
    font-family: "Gravity-Regular";
    src: url('assets/fonts/Gravity-Regular.otf');
}

@font-face {
    font-family: "Gravity-Light";
    src: url('assets/fonts/Gravity-Light.otf');
}

@font-face {
    font-family: "Gravity-Book";
    src: url('assets/fonts/Gravity-Book.otf');
}

* {
    font-family: "Gravity-Book";
}

body {
    margin: 0;
}

body {
    height: 100%;
}
